extends ../_template

block variables
  - var title = 'Error'

block content
  header.header
    .container.header__container
      .header__top
        a(href="/").title-name Архипов
          span.title-name__doter .
        .header__social
          ul.social
            each item in social
              li.social__item
                a.social__link(href="http://")
                  i(class=`fab ${item}`)

      .header__content
        h1.header__title Ошибка #{err.status}
        p.header__link #{err.message}
