.popup {
  background-color: rgba(255,255,255,0.1);
  padding: 30px;
  text-align: center;

  &__title {
    font-size: 28px;
    font-family: 'Playfair Display';
    color: $link;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 15px;
    font-family: Montserrat;
    color: $lightgrey;
  }
}
